@model IEnumerable<Category>

<br/>
<br/>

<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Category list</h2>
        </div>
        <div class="text-right col-6">
            <partial name="_CreateButtonPartial"/>
        </div>
    </div>
    <br />
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">
            <tr class="table-primary">
                <th>
                    @Html.DisplayNameFor(m => m.Name)
                </th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        <partial name="_TableButtonPartial" model="item.Id"/>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <h3 class="text-secondary">No category exist</h3>
    }
</div>