@model Spice.Models.ViewModels.IndexViewModel

<br />


@if (Model.Coupon.Count() > 0)
{
    <div class="border">
        <div class="carousel" data-ride="carousel" data-interval="2500">
            @for (int i = 0; i < Model.Coupon.Count(); i++)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        @{
                            var base64 = Convert.ToBase64String(Model.Coupon.ToList()[i].Picture);
                            var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                        }
                        <img class="d-block w-100" height="50px" src="@imgSrc" alt="">
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        @{
                            var base64 = Convert.ToBase64String(Model.Coupon.ToList()[i].Picture);
                            var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                        }
                        <img class="d-block w-100" height="50px" src="@imgSrc" alt="">
                    </div>
                }
            }
        </div>
    </div>
}

<br />
<div class="backgroundWhite container">

    <ul id="menu-filters" class="menu-filter-list list-inline text-center">
        <li class="filter active btn btn-secondary ml-1 mr-1" data-filter="menu-restaurant">Show All</li>

        @foreach (var item in Model.Category)
        {
            <li class="filter ml-1 mr-1" data-filter="@item.Name.Replace(" ", string.Empty)">@item.Name</li>
}
    </ul>

    @foreach (var item in Model.Category)
    {
        <div class="row" id="menu-wrapper">
            <partial name="_ThumbnailAreaPartial" model="Model.MenuItem.Where(u=>u.Category.Name.Equals(item.Name))" />
        </div>
    }
</div>

@section Scripts{ 
    <script>
        var posts = $(".post");

        function toggle() {
            $("#menu-filters li").click(function () {
                $("#menu-filters li").removeClass("active btn btn-secondary");
                $(this).addClass("active btn btn-secondary");

                var selectedFilter = $(this).data("filter");

                $(".menu-restaurant").fadeOut();

                setTimeout(function () {
                    $(`.${selectedFilter}`).slideDown();
                }, 300);
            })
        }

        $(document).ready(function () {
            toggle()
        })
    </script>
}